{% extends 'movie_app/base.html'%}

{% block title %} Add movie {% endblock %}
{% block content %} 
    {% include 'includes/nav.html' %}
    <h2>Add movie:</h2>
    <form action="{% url 'add_movie' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} <div class="form-group">
            <label for="{{ form.name.id_for_lable}}">Name:</label>
            {% if form.name.errors %}
                <div class="alert alert-danger">
                    {{ form.name.errors.as_ul }}
                </div>
            {% endif %} {% endcomment %}
        </div>
        <button type="submit" class="btn-primary btn-block">Add movie</button>
    </form>
    
{% endblock %}